body {
    background-color: lightgreen;
    /* Smoothly transition the background color */
    transition: background-color .5s;
}

.box, #box1 {
    position: fixed;
    top:-90px;
    left:0;
    z-index: 1000;
    width: 334px;
    height: 980px;

    border: none;
    padding: 0;
    margin: 0;
}

.welcome_banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 269.7814%;
    padding-bottom: 30px;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}

/* Using flex with the column direction to
align items in a vertical direction */
.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-left:114px
}
.wrapper{
    padding-left:0;
    margin-left:-103px;
    z-index: 3;
}
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -25px;
    font-family: 'MisoBold', sans-serif;
}

.track-art {
    margin: 30px 30px 30px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    shape-rendering: crispEdges;
}

/* Changing the font sizes to suitable ones */
.now-playing {
    font-size: 1rem;

}

.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}

/* Using flex with the row direction to
align items in a horizontal direction */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 23px;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 20px;
    opacity: 0.8;

    /* Smoothly transition the opacity */
    transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
    cursor: pointer;
}

/* Define the slider width so that it scales properly */
.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -65px;
    position: absolute;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: auto;
    height: 2px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 3.0;
}

.seek_slider {
    width: 90%;
}

.volume_slider {
    width: 40%;
    margin-top: 50px;
}

.current-time,
.total-duration {
    padding: 10px;
    cursor: pointer;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Change the mouse cursor to a pointer
when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

/*Start*/
.sp-container {
	position: absolute;
    top:0;
    left:0;
    right:0;
    margin:0;
    padding:0;
    width:500px;

    z-index: 3000;
}
.sp-content {
	width:500px;
    align-content: center;
	position: absolute;
    top:0;
	animation:
            open 0.4s linear forwards,
            squeeze 6s linear 5.5s forwards;
    margin-left: -7.5px;
}

.sp-content:after {
    content: '';
    width: 4px;
    background: #000;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.sp-wrap {
    width: 1285px;
    padding: 0 0;
    height: 100%;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    float: left;
    position: fixed;
    background: #ffdd00;
    overflow: hidden;
}

.sp-container h2 {
    color: #000;
    text-shadow: 0 0 1px rgba(0,0,0,0.9);
}
.sp-wrap span {
    display: block;
    background: #ffdd00;
    opacity: 0;
}
.sp-wrap span.sp-mid {
    opacity: 1;
}
.sp-container .sp-right h2 {
    color: #fff;
    text-shadow: 0 0 1px rgba(255,255,255,0.9);
}
.sp-wrap span.sp-mid {
    font-family: 'MisoBold', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 130px;
    position: relative;
}

.sp-left span.sp-top {
    animation:
            slideLeft 0.5s ease-in 0.6s backwards,
            fadeOut 1s linear 4s backwards;
}
.sp-left span.sp-mid {
    animation:
            slideLeft 0.5s ease-in 1s backwards,
            moveUp 0.6s linear 5s forwards;
}
.sp-left span.sp-bottom {
    animation:
            slideLeft 0.5s ease-in 1.4s backwards,
            fadeOut 1s linear 4.2s backwards;
}

.sp-right span {
    text-align: left;
}
.sp-right span.sp-top {
    animation:
            slideRight 0.5s ease-in 2s backwards,
            fadeOut 1s linear 4.4s backwards;
}
.sp-right span.sp-mid {
    animation: slideRight 0.5s ease-in 2.4s backwards,
    moveUp 0.6s linear 5s forwards;
}
.sp-right span.sp-bottom {
    animation:
            slideRight 0.5s ease-in 3.2s backwards,
            fadeOut 1s linear 4.6s backwards;
}

.sp-wrap i {
    position: absolute;
    background: #ffdd00;
    width: 400px;
}
.sp-wrap i:first-child {
    color: #000;
}
.sp-wrap i:last-child {
    opacity: 0;
    animation: fadeOut 1s linear 6s backwards;
}

.sp-full {
    position: absolute;
    font-size: 67px;
    top: 142px;
    width: 700px;
    left: 145px;
    animation: fadeIn 1s linear 1s backwards;
}

.sp-full a {
    background: #000;
    color: #fff;
    border-radius: 4px;
    padding: 10px 40px;
    display: inline-block;
    font-size: 40px;
    margin-top: 40px;
    animation: zoomIn 0.7s ease-in-out 1s backwards;
}
.sp-full h2 {
    width: 800px;
    padding: 0 0 0 0;
    float: left;
    text-align: right;
}
.sp-full a:hover {
    opacity: 0.8;
}

@keyframes open{
    0%{
        transform: scale(1,0);
    }
    100%{
        transform: scale(1,1);
    }
}

@keyframes squeeze{
    0%{
        height: 400px;
    }
    100%{
        height: 0px;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(120%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-120%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/*End*/




